<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Patronum.ShortURL</title>
    <link href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
</head>
<body>
<div class="header">
    <span class="title">
        <span class="brand">Patronum.<span class="brand-highlight">ShortURL</span></span>
    </span>
    <form action="/mvc/auth/logout" method="post">
        <button class="btn btn-login btn-primary" type="submit">Logout</button>
    </form>
    <a class="btn btn-api btn-primary" th:href="@{/swagger/doc}">API</a>
</div>
<div class="container center-container">
    <form action="/mvc/home/create" id="createForm" method="post">
        <div class="alert alert-danger text-left" role="alert" th:if="${error}">
            <p th:text="${error}"></p>
        </div>
        <div class="input-group">
            <input class="form-control" id="inputUrl" name="originalUrl" placeholder="Enter URL" type="text">
            <div class="input-group-append">
                <button class="btn btn-primary create-btn" type="submit">Create</button>
            </div>
        </div>

        <h2>URL List</h2>
        <form id="filterForm">
            <div class="checkbox-group">
                <label><input name="showMy" type="checkbox"> Show My</label>
                <label><input name="showActive" type="checkbox"> Show Active</label>
            </div>

            <button class="btn btn-primary" onclick="submitForm()" type="button">Apply Filter</button>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th th:if="${isUserListPage}">Action</th>
                <th>ID</th>
                <th>Original URL</th>
                <th>Short URL</th>
                <th>Date Created</th>
                <th>Expiration Date</th>
                <th>Visit Count</th>
                <th>User</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="url : ${urlList}">
                <td th:if="${isUserListPage}">
                    <form method="post" th:action="@{/mvc/home/user/list/delete/{id}(id=${url.id})}">
                        <button type="submit">Delete</button>
                    </form>
                    <th:block th:if="${url.expirationDate.isBefore(T(java.time.LocalDateTime).now())}">
                        <form method="post" th:action="@{/mvc/home/user/add/{id}(id=${url.id})}">
                            <button type="submit">+30 days</button>
                        </form>
                    </th:block>
                </td>
                <td th:text="${url.id}"></td>
                <td>
                    <a target="_blank" th:href="${url.originalUrl}" th:text="${url.originalUrl}"></a>
                </td>
                <td>
                    <span class="short-url" onclick="redirectToUrl(this)" th:attr="data-url-id=${url.id}"
                          th:text="${url.shortUrl}"></span>
                </td>
                <td th:text="${#temporals.format(url.dateCreated, 'dd-MM-yyyy HH:mm:ss')}"></td>
                <td th:text="${#temporals.format(url.expirationDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                <td th:text="${url.visitCount}"></td>
                <td th:text="${url.username}"></td>
            </tr>
            </tbody>
        </table>
</div>

<div class="footer">
    @2024 ua.patronum <a href="https://github.com/andriiiiiko/quick-link">GitHub</a>
</div>
<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy6pHaWE5wE1a6PVI9bhv7pBBaP6HUP"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/static/js/authorized.js"></script>
</body>
</html>



