
name: Quick-link CI

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: Make Gradlew Executable
      run: chmod +x ./gradlew

    - name: Build with Gradle
      run: ./gradlew build --exclude-task test

    - name: Finalize Build
      run: echo "Build completed successfully!"

  test:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: Make Gradlew Executable
      run: chmod +x ./gradlew

    - name: Run Tests with Gradle
      run: ./gradlew test jacocoTestReport

    - name: Finalize Test
      run: echo "Tests completed successfully!"

    - name: Upload Code Coverage
      uses: actions/upload-artifact@v2
      with:
        name: jacoco-report
        path: build/reports/jacoco/test/html

    - name: Check test coverage
      run: |
        coverage_percentage=$(grep -Po '(?<=<span class="cover">)[^<]+' build/reports/jacoco/test/html/index.html | tr -d '%')
        if ((coverage_percentage < 0)); then
          echo "Error: Code coverage is less than 80%."
          exit 1
        fi
    - name: Finalize Test Coverage
      run: echo "Test coverage over 80%!"

